.startscreen {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    .startscreenImg {
        max-height: 80%;
    }
}